/******************/
/* 	   GENERAL    */
/******************/
* {
	box-sizing: border-box;
}

html {
	font-size: 12px;
}

body {
	margin: 0;
	padding: 0;
	background-color: #e7e7e7;
	font-family: sans-serif;
}

.container {
	padding: 0 50px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: #000;
	text-decoration: none;	
}


/****************/
/* 	  TASKS     */
/****************/
.tasks {
	font-size: 1.3rem;
}

.tasks-header {
	padding: 20px 0;
	background-color: #fff;
	border-bottom: 2px solid gray;
}

.tasks-header__inner {
	display: flex;
}

.tasks-header__title {
	margin-right: 30px;
}

.tasks-header__item {
	display: inline-block;
	margin-right: 10px;
}

.tasks-header__button {
	color: #000;
	text-decoration: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.tasks-header__button--all.active,
.tasks-header__button--accepted.active  {
	color: #3fa3ef;
}

.tasks-header__button--completed.active {
	color: #89c240;
}

.tasks-header__button--wait.active {
	color: #f18d1e;
}


/************************/
/* 	  TASKS-CONTENT     */
/************************/
.tasks-content {
	padding-top: 30px;
}

.tasks-content__inner {
	display: flex;
	flex-wrap: nowrap;
}

.tasks-catalog {
	width: 15%;
}

.tasks-catalog__item {
	margin-bottom: 5px;
}

.tasks-catalog__item:last-child {
	margin-bottom: 0;
}

.tasks-catalog__link {
	font-size: 1.1rem;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.tasks-catalog__link:hover {
	color: #f18d1e;
}

.tasks-catalog__link img {
	margin-left: 5px;
}



.report {
	width: 85%;
	padding: 15px 25px 60px;
	white-space: nowrap;
	background-color: #fff;
	border-radius: 10px;
	scroll-behavior: smooth;
	scrollbar-color: #246bca rgba(00, 00, 00, 0.11);
	overflow-y: hidden;
	overflow-x: auto;
}

.report-item {
	display: none;
	width: 500px;
	margin-right: 50px;
}

.show {
	display: inline-block;
}

.report-item:last-child {
	margin-right: 25px;
}

.report-item div {
	margin-bottom: 10px;
}

.report-item__title {
	position: relative;
	margin-top: 0;
	font-size: 1.3rem;
	font-weight: 400;
	text-transform: uppercase;
}

.report-item__comment {
	display: block;
	width: 100%;
	padding: 5px;
	resize: none;
}

.report-item__pictures {
	min-height: 80px;
}

.report-item__image {
	max-width: 100px;
}

.arrow {
	position: absolute;
	left: -15px;
	top: 2px;
	display: inline-block;
	padding: 3px;
	border: solid #F28F1F;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.task-status {
	width: 18px;
	height: 18px;
	margin-bottom: 3px;
	vertical-align: middle;
}

.task-status__person,
.task-status__date {
	width: 15px;
	height: 15px;
	margin: 0 7px 3px;
}

.task-changed {
	color: #bcbcbc;
	font-size: 1em;
	font-style: italic;
}

.report-item__title .task-status {
	margin-left: 10px;
}

@media only screen and (max-width: 1024px) {

	.tasks-content__inner {
		flex-direction: column;
	}

	.tasks-catalog {
		width: 100%;
		margin-bottom: 30px;
	}

	.report {
		width: 100%;
	}

	.tasks-catalog__item {
		display: inline-block;
		margin-right: 15px;
	}
} 